button {
    border:0;
    background-color: $clr1;
    color:whitesmoke;
    padding: 5px 10px;
    margin: 10px 0px;
    width: 14.2em;
    border-radius: 2em;
    // margin-inline-start: 5px;
}
button:hover {
    cursor: pointer;
}
form > * {
    display: block;
    width: 180px;
    margin: 10px 0px;
    // height: 500px;
    // position: sticky;
}

// form{
//     height: 500px;
// }