.item-filter {
    // margin-left: 20px;
    padding: 20px;
    // padding-left: 55px;
    background-color: whitesmoke;
    width: 300px;
    height: 620px;
    position: sticky;
    left: 0;
    top: 86px;
    border-radius: 3px;
    
    // & h1,
    // h2,
    // h3,
    // h4,
    // h5,
    & h6 {
        margin-top: 35px;
        font-size: 16px;
    }
    .h6-filter-title{
        margin-top: 10px;
    }
    // .h6-filter-seller{
    //     margin-top: 30px;
    // }

& input {
    border: 1px solid lightgray;
    // outline-style:solid;
    padding: 3px;
    border-radius: 0.2em ;
}

    .filter-tags{
        flex-wrap: wrap;
        height: 50px;
        width: 210px;
        & a {
            text-decoration: none;
            color: darkgray;
            font-size: 16px;
            // height: 40px;
            // width: 40px;
            border-radius: 2em;
            margin: 3px;
            cursor: pointer;
        }

        & a:hover{
            color: black;
        }
    }

}



.filter-input-container > * {
    width: 180px;
}
.filter-price{
    width: 80px;
}
@mixin circle($color) {
    height: 25px;
    width: 25px;
    // border-color: black;
    border: 1px solid darkgray;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
    background-color: $color;
}

@mixin circle-border($color) {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
    border: 2px solid black;
}

.color-container {
    display: grid;
    grid-template-columns: repeat(4, 35px);
    grid-gap: 6px;
    .red-fill {
        @include circle(red);
    }
    .red-border {
        @include circle-border(red);
    }
    .gray-fill {
        @include circle(gray);
    }
    .gray-border {
        @include circle-border(gray);
    }

    .blue-fill {
        @include circle(blue);
    }
    .blue-border {
        @include circle-border(blue);
    }
    .pink-fill {
        @include circle(hotpink);
    }
    .pink-border {
        @include circle-border(hotpink);
    }
    .yellow-fill {
        @include circle(yellow);
    }
    .yellow-border {
        @include circle-border(yellow);
    }
    .black-fill {
        @include circle(black);
    }
    .black-border {
        @include circle-border(black);
    }
    .white-fill {
        @include circle(white);
    }
    .white-border {
        @include circle-border(white);
    }
    .green-fill {
        @include circle(greenyellow);
    }
    .green-border {
        @include circle-border(greenyellow);
    }
    .purple-fill {
        @include circle(purple);
    }
    .purple-border {
        @include circle-border(purple);
    }
    .brown-fill {
        @include circle(rgb(116, 76, 24));
    }
    .brown-border {
        @include circle-border(rgb(116, 76, 24));
    }
    .colorful-fill {
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom left, yellow, rgb(8, 123, 255), red, orange, yellow);
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 3px;
        cursor: pointer;
    }
    // .colorful-border {
    //     height: 25px;
    //     width: 25px;
    //     margin: 3px;
    //     background: conic-gradient(
    //         lightgrey 0deg 30deg,
    //         red 30deg 60deg,
    //         lightgrey 60deg 120deg,
    //         yellow 12deg 150deg,
    //         lightgrey 150deg 210deg,
    //         green 210deg 240deg,
    //         lightgrey 240deg 300deg,
    //         blue 300deg 330deg,
    //         lightgrey 330deg 360deg
    //     );
    //     -webkit-mask-image: radial-gradient(transparent 65%, black 65%);
    //     mask-image: radial-gradient(transparent 65%, black 65%);
    //     border-radius: 50%;
    // }
    .all {
        @include circle(lightgray);
        color: white;
    }
}
.outline{
    // outline: 1px solid darkgray;
    // outline-offset: 5px;
    box-shadow: 0 0 3pt 2pt rgb(189, 186, 186);

}


.img-user-filter {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

// .filter-tags{
//     a {
//         // height: 40px;
//         // width: 40px;
//         border-radius: 2em;
//         margin: 3px;
//         cursor: pointer;
//     }
// }
