@mixin circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

.color-container {
    margin-top: 10px;
    grid-area: filter;
    display: grid;
    grid-template-columns: repeat(4, 25px);
    grid-gap: 6px;
    .red {
        background-color: red;
        @include circle();
    }
    .gray {
        background-color: gray;
        @include circle();
    }
    .blue {
        background-color: blue;
        @include circle();
    }
    .pink {
        background-color: hotpink;
        @include circle();
    }
    .yellow {
        background-color: yellow;
        @include circle();
    }
    .black {
        background-color: black;
        @include circle();
    }
    .white {
        background-color: whitesmoke;
        @include circle();
    }
    .green {
        background-color: greenyellow;
        @include circle();
    }
    .purple {
        background-color: purple;
        @include circle();
    }
    .brown {
        background-color: rgb(116, 76, 24);
        @include circle();
    }
    .all {
        font-size: 25px;
        transform: rotate(180deg);
        height: 40px;
        margin-left: 23px;
        cursor: pointer;
    }
}
