.item-filter {
    margin-left: 20px;
    padding: 20px;
    background-color: whitesmoke;
    width: 250px;
    height: 620px;
    position: sticky;
    left: 0;
    top: 86px;
    
    // & h1,
    // h2,
    // h3,
    // h4,
    // h5,
    & h6 {
        margin-top: 35px;
        font-size: 16px;
    }
    .h6-filter-title{
        margin-top: 10px;
    }
    // .h6-filter-seller{
    //     margin-top: 30px;
    // }

& input {
    border: 1px solid purple;
    padding: 3px;
    border-radius: 0.2em ;
}

    .filter-tags{
        flex-wrap: wrap;
        height: 50px;
        width: 210px;
        & a {
            text-decoration: none;
            color: darkgray;
            font-size: 16px;
            // height: 40px;
            // width: 40px;
            border-radius: 2em;
            margin: 3px;
            cursor: pointer;
        }

        & a:hover{
            color: black;
        }
    }

}



.filter-input-container > * {
    width: 180px;
}
.filter-price{
    width: 80px;
}
@mixin circle($color) {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
    background-color: $color;

}

.color-container {
    width: 25vw;

    // position: fixed;
    margin-top: 10px;
    margin-inline-start: 8px;
    // margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 35px);
    grid-gap: 6px;
    .red-fill {
        @include circle(red);
    }
    .gray-fill  {
        @include circle(gray);
    }
    .blue-fill  {
        @include circle(blue);
    }
    .pink-fill  {
        @include circle(hotpink);
    }
    .yellow-fill  {
        @include circle(yellow);
    }
    .black-fill  {
        @include circle(black);
    }
    .white-fill  {
        @include circle(white);
    }
    .green-fill  {
        @include circle(greenyellow);
    }
    .purple-fill  {
        @include circle(purple);
    }
    .brown-fill  {
        @include circle(rgb(116, 76, 24));

    }
    .colorful {
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom left, yellow, rgb(8, 123, 255), red, orange, yellow);
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin: 3px;
        cursor: pointer;
    }
    .all {
        @include circle(lightgray);
        color: white;
    }
}

.img-user-filter{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

// .filter-tags{
//     a {
//         // height: 40px;
//         // width: 40px;
//         border-radius: 2em;
//         margin: 3px;
//         cursor: pointer;
//     }
// }