.item-filter {
    margin-left: 20px;
    padding: 20px;
    background-color: whitesmoke;
    width: 250px;
    height: 550px;
    position: sticky;
    left: 0;
    top: 86px;
    
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 12px;
    }
}

.filter-input-container > * {
    width: 180px;
}

@mixin circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

.color-container {
    width: 25vw;

    // position: fixed;
    margin-top: 10px;
    margin-inline-start: 8px;
    // margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 35px);
    grid-gap: 6px;
    .red {
        background-color: red;
        @include circle();
    }
    .gray {
        background-color: gray;
        @include circle();
    }
    .blue {
        background-color: blue;
        @include circle();
    }
    .pink {
        background-color: hotpink;
        @include circle();
    }
    .yellow {
        background-color: yellow;
        @include circle();
    }
    .black {
        background-color: black;
        @include circle();
    }
    .white {
        background-color: white;
        @include circle();
    }
    .green {
        background-color: greenyellow;
        @include circle();
    }
    .purple {
        background-color: purple;
        @include circle();
    }
    .brown {
        background-color: rgb(116, 76, 24);
        @include circle();
    }
    .colorful {
        background-color: red; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom right, yellow, green, blue, red, orange);
        @include circle();
    }
    .all {
        background-color: lightgray;
        @include circle();
        color: white;
    }
}

.img-user-filter{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}