header {
    background-color: grayscale($color: rgba(128, 128, 128, 0.37));
    // padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // justify-content:flex-end;
    // background-position: ;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 10;

    img {
        border-radius: 50%;
        margin: 5px;
        // margin-right: 180px;
        height: 40px;
        width: 40px;
    }   

    // .loggedin-user {
    //     background-color: white;
    //     padding: 2px 8px;
    //     border-radius: 1em;
    //     align-self: flex-end;
    //     color: whitesmoke;
    //     span {
    //         background-color: white;
    //         padding: 4px;
    //         margin: 10px;
    //         border-radius: 50%;
    //     }
    // }
    &:active {
        color: grayscale($color: gray);
    }
}
nav {
    // margin-right: 50px;
    padding: 0;
    height: inherit;
    display: flex;
    align-items: center;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 98.7px;
        font-size: 24px;
        width: 85px;
        // border-right: 1px solid black;
        text-decoration: none;
        color:white;
         &:first-child {
            // border-left: 1px solid black;
            // justify-content: flex-start;
        }
        &:active {
            color: white;
            // margin: 0;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

nav a.header-find{
    margin: 0 40px;
}

nav .active {
    color: white;
    text-decoration: none;
}
.logo{
margin-inline-start: 96px;
    justify-self: flex-start;
    display: flex;
}
.logo a {
    // margin-left: 30px;
    font-size: 2rem;
    color: white;

    &:hover {
        text-decoration: none;
    }
}
