header {
    background-color: rgba(0, 0, 0, 0.048);
    // padding: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;

    img {
        border-radius: 50%;
        margin: 5px;
        margin-right: 5px;
        height: 40px;
        width: 40px;
    }   

    // .loggedin-user {
    //     background-color: purple;
    //     padding: 2px 8px;
    //     border-radius: 1em;
    //     align-self: flex-end;
    //     color: whitesmoke;
    //     span {
    //         background-color: purple;
    //         padding: 4px;
    //         margin: 10px;
    //         border-radius: 50%;
    //     }
    // }
    &:active {
        color: whitesmoke;
    }
}
nav {
    margin-right: 50px;
    padding: 0;
    height: inherit;
    display: flex;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        // border-right: 1px solid black;
        text-decoration: none;
        color:purple;
         &:first-child {
            // border-left: 1px solid black;
        }
        &:active {
            color: purple;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

nav .active {
    color: purple;
    text-decoration: none;
}

.logo a {
    margin-left: 30px;
    font-size: 2rem;
    color: purple;

    &:hover {
        text-decoration: none;
    }
}
