header {
    background-color: rgba(0, 0, 0, 0.048);
    // padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;

    .loggedin-user {
        background-color: white;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span {
            background-color: white;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }
    &:active {
        color: whitesmoke;
    }
}
nav {
    margin-right: 50px;
    padding: 0;
    height: inherit;
    display: flex;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        // border-right: 1px solid black;
        text-decoration: none;
        color:white;
         &:first-child {
            // border-left: 1px solid black;
        }
        &:active {
            color: white;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

nav .active {
    color: white;
    text-decoration: none;
}

.logo a {
    margin-left: 30px;
    font-size: 2rem;
    color: white;

    &:hover {
        text-decoration: none;
    }
}
