


header {
    background-color: whitesmoke;
    // padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: sticky;
    top: 0;
    z-index : 10;

    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span {
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }

}
nav {
    margin-right: 50px;
    padding: 0;
    height: inherit;
    display: flex;
    z-index : 9;


    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        border-right: 1px solid black;
        text-decoration: none;

        &:first-child {
            border-left: 1px solid black;
        }
        &:active{
            color: initial;
            text-decoration: none;

        }
    }
}

nav .active {
    color: black;
    text-decoration: none;

}

.logo a{
    margin-left: 30px;
    font-size: 2rem;
    color: rgb(13, 61, 80);

    &:hover{
        text-decoration: none;
    }
}
