// .card-hadar {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(250px));
//     object-fit: cover;
//     background-color: whitesmoke;
// }

.card-main {
    width: 220px;
    display: flex;
    align-items: stretch;
    position: relative;
    .seller-preview {
        border-top: 1px solid rgb(223, 223, 223);
        font-size: 0.8rem;
        // display: flex;
        // padding: 5px;
        justify-content: start;
        align-items: center;
        // img {
        //     border-radius: 50%;
        //     margin: 5px;
        //     margin-right: 5px;
        //     height: 25px;
        //     width: 25px;
        // }
    }
    // .MuiCardContent-root{
    //     padding: 0;
    //     background-size: contain;

    // }
    .MuiCardHeader-root{
        padding-bottom:60px ;
    }
    .MuiCardContent-root.card-text{
        // align-self: flex-end;
        padding-bottom: 7px;
    }
    .MuiCardContent-root:last-child{
        position: absolute;
        bottom: 0;
    }
    .price {
        // align-self: flex-end;
        // color: red;
        // bottom: 100px;
        margin-inline-end: 125px;
    }
    a {
        text-decoration: none;
        color: rgb(36, 36, 36);
        .item-img {
            // height: 170px;
        }
        .card-footer {
            // border-top: 1px solid rgb(209, 209, 209);
        }
        .MuiCardMedia-root{
            background-size: contain;
        }
        .item-card-preview {
            //     padding: 8px 16px 0;
            //     display: flex;
            //     flex-direction: column;
            //     font-size: 0.8rem;
            //     line-height: 1.3;
            // .price {
            //     // color: red;
            //     margin: 0 0 0.6em;
            //     margin-top: 16px;
            //     line-height: 1;
            // }
        }
    }
}

// .card-root {
//     max-width: 345;
// }
.card-media {
    height: 0;
    padding-top: 100%;
  
    // background-size: contain;
}
// .card-avatar {
//     background-color: red;
// }
// .card-edit {
//     position: absolute;
//     bottom: 0;
// }
