// .card-hadar {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(250px));
//     object-fit: cover;
//     background-color: whitesmoke;
// }

.card-main {
    text-decoration: none;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: stretch;
    position: relative;
    .seller-preview {
        // background-color: lawngreen;
        border-top: 1px solid rgb(223, 223, 223);
        font-size: 0.8rem;
        display: flex;
        justify-content: start;
        img {
            border-radius: 50%;
            margin: 5px;
            margin-right: 5px;
            height: 25px;
            width: 25px;
        }
    }
    a {
        text-decoration: none;
        color: rgb(36, 36, 36);

        .card-footer {
            // border-top: 1px solid rgb(209, 209, 209);
        }
        .item-card-preview {
            padding: 8px 16px 0;
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            line-height: 1.3;

            .title{
                height: 40px;
            }
            .price {
                margin: 0 0 0.6em;
                margin-top: 16px;
                line-height: 1;
            }
        }
    }
}

.item-img {
    &:hover {
        transform: scale(1.1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}



.card-root {
    max-width: 345;
}
.card-media {
    height: 0;
    padding-top: 100%;
}
.card-avatar {
    background-color: red;
}
.card-edit {
    position: absolute;
    bottom: 0;
}
.MuiPaper-root {
    width: 40vw;
    max-width: 200px;
}
