// .card-hadar {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(250px));
//     object-fit: cover;
//     background-color: whitesmoke;
// }

.card-main {
    width: 230px;
    min-height: 340px;
    height: 100%;
    display: flex;
    align-items: stretch;
    position: relative;
    // background-color: #F8F8F8;
    background-color: #f5f5f5;
    // background-color: white;
    // margin-bottom: 2vh;
    .seller-preview {
        // width: 230px;
        border-top: 1px solid rgb(12, 8, 8);
        font-size: 0.8rem;
        display: flex;
        padding-top: 10px;
        justify-content: start;
        align-items: center;
        // img {
        //     border-radius: 50%;
        //     margin: 5px;
        //     margin-right: 5px;
        //     height: 25px;
        //     width: 25px;
        // }
    }
    // .MuiCardContent-root{
    //     padding: 0;
    //     background-size: contain;

    // }
    .MuiCardHeader-root {
        // padding-bottom: 3px;
        width: 230px;
        background-color: #f5f5f5

    }
    .MuiCardContent-root.card-text {
        // align-self: flex-end;
        padding-bottom: 7px;
    }
    .MuiCardContent-root:last-child {
        width: 230px;
        bottom: 0;
        position: absolute;
        .price-likes {
            display: flex;
            justify-content: space-between;
        }
    }
    //  {
    //     // align-self: flex-end;
    //     // display: flex;
    //     // color: red;
    //     // bottom: 100px;
    //     // justify-self: space-between;
    //     // align-items: space-between;
    // }
    a {
        text-decoration: none;
        color: rgb(36, 36, 36);
        .item-img {
            // height: 170px;
        }
        .card-footer {
            // border-top: 1px solid rgb(209, 209, 209);
        }
        .MuiCardMedia-root {
            background-size: contain;
            width: 230px;
            // padding: 0 3px;
            // background-image: lightgrey;
        }
        
        .item-card-preview {
            //     padding: 8px 16px 0;
            //     display: flex;
            //     flex-direction: column;
            // font-size: 0.8rem;
            // line-height: 1.3;
            // .price {
            //     // color: red;
            //     margin: 0 0 0.6em;
            //     margin-top: 16px;
            //     line-height: 1;
            // }
        }
    }
}
.MuiPaper-elevation1.MuiPaper-rounded{
    box-shadow: none;
    border: 0.8px solid lightgray;
    width: 230px;
}
// .itemPreview-backoffice{
//     height: 500px;
// }

// .card-root {
//     max-width: 345;
// }
.card-media {
    height: 0;
    padding-top: 100%;
    // padding: 100% 5% 5% 5%;


    // background-size: contain;
}
// .card-avatar {
//     background-color: red;
// }
// .card-edit {
//     position: absolute;
//     bottom: 0;
// }
