.item-list {
    margin-left: 25vw;
    grid-area: list;
    display: grid;
    // grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    grid-gap: 5px;
    // grid-template-columns: 1fr 1fr;
    // background-color: aqua;
  
}
