.item-list {
    // margin-left: 25vw;
    grid-area: list;
    display: grid;
    // grid-template-columns: repeat(4,1fr);
    padding-left: 40px;
    grid-template-columns: repeat(auto-fill, 230px );
    grid-template-rows: 35 0px;
    grid-gap: 40px;
    width:100%;
//   card-grid
}
