// Colors
$clr1: #9D033F;
$clr2: #9D033F ;
$clr3: #660082 ;
$clr4: #C81A46;
$clr5: #D26510;
$clr6: #215596;
$clr7: #20B9A6;
$clr10: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$imgLen: 25px;
