.back-office-seller{
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    .item-container{
        margin-left: 2vw;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        div.item
        {
            // border: 3px solid firebrick;
            margin: 0px 0.7vw ;
            margin-bottom: 5vh;
            height: 480px;
        }
    }
    button.delete-btn {
        margin: 10px 12.5px;

    }
}

div.price-likes{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.hello-seller {
    text-align: center;
    margin-top: 100px;
}

.edit-box{
    background-color: whitesmoke;
    margin-left: 20px;
    width: 250px;
    // height: 550px;
    position: sticky;
    padding: 20px;

}

.uploader {
    background-color: rgb(197, 123, 226);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    & :hover{
        color:white;
        cursor:pointer;
    }
}