.backOffice-selller{
    display: flex;
    flex-direction: column;
    .item-container{
        margin-left: 2vw;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        div.item
        {
            // border: 3px solid firebrick;
            margin: 1vw;
        }
    }
}