.dashboard{
    margin: 100px 0;

    table{
        text-align: center;
        .item{
            min-width: 200px; 
        }
        .number{
            min-width: 80px; 
        }
        th{
            background-color: skyblue;
            min-width: 100px;
        color: darkblue;
   

        }
        td{
        color: black;

            background-color: #fff;
        }
    }
}