.home-page {
    h1 {
        color: lightsalmon;
        position: absolute;
        font-size: 4rem;
    }
}

.home {
    background-color: orange;
    h2 {
        
        text-align: center;
        color: white;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        //     // url(../../../assets/img/Home/heppy-home.jpeg);
        url(../../../assets/img/Home/pexels-photo-1684187.jpeg);
<<<<<<< HEAD
    height: 70vh;
    // margin-bottom: 8px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    // z-index: 0;
    // padding-top: 333px;
    // padding-left: 130px;
    // margin-top: -196px;
    // border:0;
    & section {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
=======
    // height: 90vh;
    // margin-bottom: 8px;
    // background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    // padding-top: 333px;
    // padding-left: 130px;
    // margin-top: -196px;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 62vh;
    align-items: center;
    justify-content: center;

>>>>>>> 778157200b7bcdd0e4ebff3a70dd9647b14e8a78
    & h1 {
        font-size: 2.8125rem;
        line-height: 1;
        color: #fff;
        font-weight: 500;
        margin-bottom: 24px;
    }
    & h2 {
        font-size: 3.625rem;
        line-height: 1;
        color: #fff;
        margin-bottom: 24px;
    }
    & .btn {
        background-color: #f05d08;
        font-weight: 500;
        border: none;
        color: whitesmoke;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }
<<<<<<< HEAD
    }
   
=======
    & .btn-2 {
        background-color: #4a36f4;
    }
>>>>>>> 778157200b7bcdd0e4ebff3a70dd9647b14e8a78
}

.card-media {
    &:hover {
        transform: scale(1.2);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}
.home-collection-list {
    padding: 20px;
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 700px;
    grid-gap: 8px;
    gap: 8px;
    background-color: orangered;
}

.collection-card {
    background-position: 50%;

    &:first-child {
        grid-column: 1/3;
    }
}
.preview-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    &:hover {
        transform: scale(1.2);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}

.img-1 {
    color: whitesmoke;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990427/atmosphere/crazy-socks_1024x1024_w9hsye.jpg);
}
.img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990430/atmosphere/socks_happy_nhag3k.jpg);
    color: whitesmoke;
}
.img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990430/atmosphere/socks_pink_tklalh.jpg);
    color: whitesmoke;
}
.img-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990432/atmosphere/socks_face-removebg-preview_u5mgyo.png);
    color: whitesmoke;
}
.img-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990429/atmosphere/pexels-photo-1437149_rf8m7o.jpg);
    color: whitesmoke;
}

.item-cards {
    width: 100%;
    gap: 40px;
    justify-content: center;
    padding: 16px;
    background-color: purple;
}

.sellers-list {
    margin: 20px;
    align-content: center;
    text-align: center;

    & .sellers-row {
        margin-top: 20px;
    }
    & .btn {
        background-color: #f436cb;
        font-weight: 500;
        border: none;
        color: whitesmoke;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
        align-content: center;
        margin: 20px;
    }
}

.seller-banner {
    position: relative;
    text-align: center;
    color: white;

    & .banner-text {
        color: white;
        position: absolute;
        top: 36%;
        left: 32%;
        transform: translate(-50%, -50%);
        font-size: 2.3rem;
    }
    & .banner-text2 {
        color: white;
        position: absolute;
        bottom: -6%;
        left: 84%;
        transform: translate(-50%, -50%);
    }
}
