.home-page {
    h1 {
        color: lightsalmon;
        position: absolute;
        font-size: 4rem;
    }
}

.home {
    background-color: orange;
    h2 {
        text-align: center;
        color: white;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        //     // url(../../../assets/img/Home/heppy-home.jpeg);
        url(../../../assets/img/Home/pexels-photo-1684187.jpeg);
    // height: 90vh;
    // margin-bottom: 8px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: bottom;
    position: relative;
    z-index: 0;
    // background-image: rgba(0, 0, 0, 0.1);
    // padding-top: 333px;
    // padding-left: 130px;
    // margin-top: -196px;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 84vh;
    align-items: center;
    justify-content: center;

    & h1 {
        font-size: 2.8125rem;
        line-height: 1;
        color: #fff;
        font-weight: 500;
        margin-bottom: 24px;
    }
    & h2 {
        font-size: 3.625rem;
        line-height: 1;
        color: #fff;
        // background-color: rgba(0, 0, 0, 0.02);
        // font-style: italic;
        // font-family:-webkit-pictograph;
        margin-bottom: 24px;
    }
    & .btn {
        background-color: orange;
        font-weight: 500;
        border: none;
        color: whitesmoke;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }
    & .btn-2 {
        background-color: purple;
    }
}

.card-media {
    &:hover {
        transform: scale(1.2);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}
// .home-collection-list {
//     margin-top: 25px;
//     padding: 20px;
//     background: whitesmoke;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     height: 750px;
//     width:93.1vw;
//     grid-gap: 8px;
//     gap: 8px;
//     background-color: orangered;
// }

.collection-card {
    background-position: 50%;

    &:first-child {
        grid-column: 1/3;
    }
}
.preview-image {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: 50%;
    &:hover {
        transform: scale(1.2);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}

// .img-1 {
//     color: whitesmoke;
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
//         // url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990427/atmosphere/crazy-socks_1024x1024_w9hsye.jpg);
//         url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1611301258/atmosphere/ot_co9rh2.jpg);
// }
// .img-2 {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
//         // url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990430/atmosphere/socks_happy_nhag3k.jpg);
//         url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1611301259/atmosphere/80_vwru5z.png);
//         color: whitesmoke;
// }
// .img-3 {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
//         // url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990430/atmosphere/socks_pink_tklalh.jpg);
//         url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1611301259/atmosphere/pp_zxik7v.jpg);

//         color: whitesmoke;
// }
// .img-4 {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
//         // url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990432/atmosphere/socks_face-removebg-preview_u5mgyo.png);
//         url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1611301258/atmosphere/an_dsules.jpg);
//         color: whitesmoke;
// }
// .img-5 {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
//         // url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1610990429/atmosphere/pexels-photo-1437149_rf8m7o.jpg);
//         url(https://res.cloudinary.com/dt1zahrqy/image/upload/v1611301257/atmosphere/spo_dfghzs.jpg);
//     color: whitesmoke;
// }

.item-cards {
    width: 100%;
    gap: 40px;
    justify-content: center;
    padding: 16px;
    background-color:orange;
    margin-bottom: 5vh;
    & a:link {
        text-decoration: none;
    }
}

.MuiCard-root {
    width: 216px;
}

.sellers-list {
    margin: 20px;
    align-content: center;
    text-align: center;

    & .sellers-row {
        margin-top: 20px;
    }
    & .btn {
        background-color: purple;
        font-weight: 500;
        border: none;
        color: whitesmoke;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
        align-content: center;
        margin: 20px;
    }
}

.top-sellers {
    margin: 20px;
}

.seller-banner {
    position: relative;
    text-align: center;
    color: white;

    & .banner-text {
        color: white;
        position: absolute;
        top: 36%;
        left: 32%;
        transform: translate(-50%, -50%);
        font-size: 2.3rem;
    }
    & .banner-text2 {
        color: white;
        position: absolute;
        bottom: -6%;
        left: 84%;
        transform: translate(-50%, -50%);
    }
}

.container {
    background-color: #660082;
    padding: 8px;
    width: 60vw;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 9vh);
    grid-gap: 0.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    background-size: contain;
    display: block;
    &:hover {
        transform: scale(1.2);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
}
.gallery__item {
    margin: 0;
    padding: 0;
}

// .gallery-tag-featured{
//     background-color: black;
//     background-size: initial;
//     bottom: -63%;
//     width: 14.42%;
//     // width: 1fr;
//     position: absolute;
//     text-align: center;
//     }

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

   
    
    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}
