.item-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 20px;

    grid-template-areas: "img item-info" "sep sep";
    margin: 10vh 10vw 0;
    // margin-top: 500px;
    img.item-image {
        grid-area: img;
        width: 200px;
    }
    .border-seprator {
        grid-area: sep;
        background-color: dimgray;
        left: 0;
        height: 1vh;
    }
}
.item-info {
    grid-area: item-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    color: rgb(17, 17, 17);
    h1,
    .price {
        margin: 0 5vw;
        margin-top: 10px;
        align-self: start;
    }

    .buy {
        background-color: $clr3;
        font-size: 2rem;
        color: white;
        padding: 0 50px;
        margin: 20px 10px;
        cursor: pointer;
    }

    .description {
        font-size: 0.875rem;
    }
}

.amount {
    display: flex;
    width: 220px;
    height: 50px;
    border: 1px solid rgb(32, 32, 32);

    div {
        border-left: 1px solid rgb(32, 32, 32);
        border-right: 1px solid rgb(32, 32, 32);
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .change-amount {
        width: 50px;
        border: none;

        cursor: pointer;
    }
}

.seller-preview {
    display: flex;
    align-self: start;
    justify-content: space-between;
    span,img{
        margin-right: 10px;
    }
    img {
        height: $imgLen;
        width: $imgLen;
        border-radius: 50px;
    }
    .best-seller{
        color: rgb(223, 163, 34);
        font-weight: bold;
    }
    p {
        margin: 0 11px;
    }
}
.modal-background {
    position: fixed;
    background-color: rgba(44, 44, 44, 0.767);
    top: 0%;
    height: 100vh;
    z-index: 9;
    left: 0;
    width: 100vw;
}

.order-info-modal {
    background-color: rgb(32, 10, 53);
    color: rgb(224, 224, 224);
    // border: 6px solid chartreuse;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 27vw;
    width: 46vw;
    padding: 10px;
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid rgb(32, 32, 32);
        .total-price {
            width: 30px;
        }
        img {
            height: 100%;
            width: 100px;
        }
    }
    a {
        text-decoration: none;
        color: rgb(224, 224, 224);
        margin: 0 45% 10px;
    }
}
