.item-details {
    // display: grid;
    // gap: 20px;
    // grid-template-columns: 1fr 1fr;

    // grid-template-rows: 450px 50px 1fr;

    // grid-template-areas: "img item-info" "sep sep" "reviews seller";
    // margin: 100px 14vw 0 30px;
    // // margin-top: 500px;
    display: grid;
        /* grid-gap: 20px; */
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 451px 1px 1fr;
        grid-template-areas:
            "img item-info"
            "sep sep"
            "reviews seller";
        margin: 99px 16vw 30px;


    img.item-image {
        grid-area: img;
        width: 394px;
        // &:hover {
        //     transform: scale(1.2);
        //     transition: 0.3s ease-in-out;
        // }
    }
    .border-seprator {
        // margin: 20px 0;
        grid-area: sep;
        background-color: lightgray;
        left: 0;
        height: 1px;
    }
}
.item-info {
    grid-area: item-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: rgb(17, 17, 17);
    .header {
        // align-self: start;
       
    }
    .price {
        margin: 0;
        font-weight: 800;
        font-size: 28px;
        // align-self: start;
        // align-items: center;
    }
    .buy {
        background-color: $clr3;
        font-size: 2rem;
        color: ghostwhite;
        padding: 0 50px;
        margin: 20px 10px;
        cursor: pointer;
        transition: 0.5s;
        border-radius: 3px;

        &:hover {
            background-color: #8800ad;
        }
    }

    .description {
        font-size: 0.875rem;
        text-align: left;
    }
}

.amount {
    display: flex;
    width: 220px;
    height: 50px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 3px;

    div {
        border-left: 1px solid rgb(32, 32, 32);
        border-right: 1px solid rgb(32, 32, 32);
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .change-amount {
        width: 50px;
        border: none;

        cursor: pointer;
    }
}

.seller-preview {
    display: flex;
    // align-self: start;
    justify-content: space-between;
    span,
    img {
        margin-right: 10px;
    }
    img {
        height: 35px;
        width: 35px;
        border-radius: 50px;
    }
    .best-seller {
        color: rgb(223, 163, 34);
        font-weight: bold;
    }
    p {
        margin: 0 11px;
    }
}
.tag-title {
    margin-top: 10px;
    font-weight: bold;
    align-self: start;
    font-size: small;
}
.tags-container {
    color: rgb(155, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    .tag {
        padding: 0px 10px;
        margin: 0 10px;
        border: 1px solid rgb(155, 155, 155);
        display: flex;
        align-items: start;
        border-radius: 3px;
        a {
            margin: 0;
            color: dimgray;
            text-transform: uppercase;
            font-size: 0.8rem;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.modal-background {
    position: fixed;
    background-color: rgba(44, 44, 44, 0.904);
    top: 0%;
    height: 100vh;
    z-index: 9;
    left: 0;
    width: 100vw;
}

.order-info-modal {
    background-color: white;
    color: black;
    // border: 6px solid chartreuse;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 20vw;
    width: 60vw;
    padding: 10px;
    .close {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px;
        .MuiSvgIcon-root {
            font-size: 30px;
        }
    }
    h3 {
        color: rgb(83, 47, 47);
        margin: 10px;
    }

    table {
        width: 10px;
        width: 99%;
        text-align: center;

        td {
            height: 65px;
        }
        .final-price {
            border-top: 1px solid black;
            font-weight: bold;
        }
    }

    a {
        text-decoration: none;
        color: rgb(66, 20, 27);
        text-align: center;
        font-size: 1.5rem;
        margin: 0 45% 10px;
        border: 1px solid rgb(66, 20, 27);
        padding: 5px 15px;
        border-radius: 10px;
        // transition: 0.5s;

        &:hover {
            background-color: rgb(98, 36, 45);
            color: rgb(206, 197, 214);
        }
    }
}
.reviews {
    grid-area: reviews;
    // width: 87%;
}
.seller-details {
    grid-area: seller;
    h3 {
        margin-bottom: 15px;
    }
    img {
        border-radius: 50%;
        height: 110px;
        width: 110px;
        margin-right: 3vw;
    }

    .info {
        color: rgb(126, 50, 50);
        display: flex;
    }

    .content-me {
        border: 1px solid #9d033f;
        padding: 5px 15px;
        margin-top: 10px;
        width: 140px;
        margin-left: 150px;
        transition: 0.5s;
        border-radius: 3px;

        &:hover {
            background-color: #9d033f;
            color: white;
            cursor: pointer;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50vh auto;
}
