.item-details {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 490px 10px 1fr;

    grid-template-areas: "img item-info" "sep sep" "reviews seller";
    margin: 100px 10vw 0;
    // margin-top: 500px;

    img.item-image {
        grid-area: img;
        width: 300px;
        margin: 0 auto;
        height: 350px;
    }
    .border-seprator {
        margin: 10px 0;
        grid-area: sep;
        background-color: dimgray;
        left: 0;
        height: 1px;
    }
}
.item-info {
    grid-area: item-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    color: rgb(17, 17, 17);
    .header {
        align-self: start;
        h1,
        .price {
            margin: 0 40px;
            margin-top: 10px;
            align-self: start;
        }
    }

    .buy {
        background-color: $clr3;
        font-size: 2rem;
        color: white;
        padding: 0 50px;
        margin: 20px 10px;
        cursor: pointer;
        transition: 1s;

        &:hover {
            -webkit-box-shadow: 0px 0px 0px 6px #433450, 0px 0px 0px 12px #696177, 0px 0px 0px 18px #b7b1c0,
                0px 0px 0px 24px #dbdadd, 5px 5px 15px 5px rgba(0, 0, 0, 0);
            box-shadow:  0px 0px 0px 6px #433450, 0px 0px 0px 12px #696177,
                0px 0px 0px 18px #b2b5b2, 0px 0px 0px 24px #daddda, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        }
    }

    .description {
        font-size: 0.875rem;
    }
}

.amount {
    display: flex;
    width: 220px;
    height: 50px;
    border: 1px solid rgb(32, 32, 32);

    div {
        border-left: 1px solid rgb(32, 32, 32);
        border-right: 1px solid rgb(32, 32, 32);
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .change-amount {
        width: 50px;
        border: none;

        cursor: pointer;
    }
}

.seller-preview {
    display: flex;
    align-self: start;
    justify-content: space-between;
    span,
    img {
        margin-right: 10px;
    }
    img {
        height: 35px;
        width: 35px;
        border-radius: 50px;
    }
    .best-seller {
        color: rgb(223, 163, 34);
        font-weight: bold;
    }
    p {
        margin: 0 11px;
    }
}
.modal-background {
    position: fixed;
    background-color: rgba(44, 44, 44, 0.767);
    top: 0%;
    height: 100vh;
    z-index: 9;
    left: 0;
    width: 100vw;
}

.order-info-modal {
    background-color: rgb(154, 149, 158);
    color: rgb(224, 224, 224);
    // border: 6px solid chartreuse;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 27vw;
    width: 46vw;
    padding: 10px;
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid rgb(32, 32, 32);
        .total-price {
            width: 30px;
        }
    }
    a {
        text-decoration: none;
        color: rgb(224, 224, 224);
        margin: 0 45% 10px;
    }
}
.reviews {
    grid-area: reviews;
    margin: 0 30px;
}
.seller-details {
    grid-area: seller;
    padding: 2% 5%;
    h3 {
        margin-bottom: 15px;
    }
    img {
        border-radius: 50%;
        height: 110px;
        width: 110px;
        margin-right: 3vw;
    }

    .info {
        color: rgb(126, 50, 50);
        display: flex;
    }

    .content-me {
        border: 1px solid #9d033f;
        padding: 5px 15px;
        margin-top: 10px;
        width: 140px;
        margin-left: 150px;
        transition: 0.5s;

        &:hover {
            background-color: #9d033f;
            color: white;
            cursor: pointer;
        }
    }
}
