.shop-container{
    // display: grid;
    // grid-template-columns: 1fr 3fr;
    // grid-template-rows: 200px 1fr;
    // grid-template-areas: "filter list" "edit list";
}

.edit-box{
    grid-area: edit;
}
