.thank-you {
  padding-top: 100px;
  // height: 830px;
  margin: 50px 330px;
  margin-bottom: 0;

  .item-thank{
    // text-align: center;
    margin-top: 260px;
    h3{
      // text-align: center;
      margin-top: 35px;
      margin-bottom: 35px;
      font-size: 1.5rem;
      color: rgb(27, 27, 27);
      font-weight: 400;
    }

  }
  .item-thank-conainer {
    // background-color: turquoise;
    display: flex;
    justify-content: center;
    // bottom: 100px;
    // height: 600px;
    height: 350px;
    // align-items: ;
    gap: 20px;
  }
  .thank-msg {
    // margin: 240px 300px 0px;
    margin-top: 25px;
    margin-bottom: 30px;
    // top:500px;
    font-size: 30px;
    div.order-msg {
      // margin-top: 25px;
      width: 520px;
    }
    // .continue-shopping {
    // // margin-top: 30px;
    // padding: 20px;  
    // }
    // background-color: rgb(166, 255, 0);
    a {
      font-family: Apple Chancery, cursive;
      color: #9d033f;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #9d033f;
      width: 360px;
      padding: 6px 6px;
      margin-top: 30px;
      // text-align: center;
      // margin-left: 50px;
      border-radius: 40px;
      .MuiSvgIcon-root {
        font-size: 2.5rem;
        margin-left: 2px;
      }
      &:hover {
        text-decoration: none;
        color:white;
        background-color: #9d033f;

        span,
        .MuiSvgIcon-root {
          color: rgb(199, 23, 111);
        }
      }
    }
  }


  & img {
    z-index: -1;
    position: absolute;
    width: 400px;
    // height: 80%;
    right: 250px;
    top: 100px;
  }

  & .speech {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    background-color: $clr7;
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
    // right: -700px;
    left: 380px;
    text-align: center;
    color: black;
    // top: -266px;
    bottom: 253px;
  }

  & .half::after {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid $clr7;
    border-top: 20px solid $clr7;
    position: absolute;
    bottom: -20px;
    right: 10%;
  }
}
