.thank-you {
  margin-top: 10vh;
  height: 75vh;

  .thank-msg {
    margin: 20px;
font-size: 30px;
font-family: Apple Chancery, cursive;
    a{
      color: black;
      &:hover{
        text-decoration: none;
       
      }
    }
  }
  img {
    z-index: -1;
    position: absolute;
    width: 55%;
    height: 55%;
    right: 0;
    top: 200px;
  }

  .speech {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    background-color: $clr7;
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
    right: -50vw;
    text-align: center;
    color: black;
  }

  .half::after {
    content: "";
    border: 20px solid transparent;
    border-right: 20px solid $clr7;
    border-top: 20px solid $clr7;
    position: absolute;
    bottom: -20px;
    right: 10%;
  }
}
